@media (min-width: 85.25rem) { .site-title { font-size: 22px !important; }
  .main-header { width: 68.75rem; } }
.site-nav ul li a { background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%); }

/*
     FILE ARCHIVED ON 12:53:06 Sep 12, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:03:29 Dec 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.579
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.013
  cdx.remote: 23.563
  LoadShardBlock: 331.622 (3)
  PetaboxLoader3.datanode: 137.682 (4)
  PetaboxLoader3.resolve: 477.374 (2)
  load_resource: 293.72
*/